<h1>Here are all our recipes</h1>
<div class="col-sm-2">
  <h3>Ingredients</h3>
  <!-- click on to go to individual ingredient page- will have edit form and list recipes connected to this ingredient -->
  <%if any recipes%>
  <h6>Add form/link</h6>
</div>
<div class="col-sm-8">
  <h3>Recipes</h3>
  <!-- click on to go to individual recipe page- will have edit form and list ingredients and categories connected to this recipe -->
  <%if any recipes%>
  <h6>Add form/link</h6>
</div>
<div class="col-sm-2">
  <h3>Categories</h3>
  <!-- click on to go to individual category page- will have edit form and list recipes connected to this ingredient -->
  <%if any recipes%>
  <h6>Add form/link</h6>
</div>
